
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,500,300);

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/*!
 * GENERAL
 */

body{
    background: #F2F4F3;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    font: 14px 'Roboto', arial, sans-serif;
    color: #111;
}

a:link{
    color: #278ADA;
    text-decoration: none;
}
a:visited{
    color: #278ADA;
    text-decoration: none;
}
a:hover{
    color: #278ADA;
    text-decoration: underline;
}
a:active{
    color: #278ADA;
    text-decoration: underline;
}

/* css utils */

.white{color: #FFF;}
.center{text-align: center;}
.no-margins{margin: 0!important;}
.pop{text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.75);}
.fw-100{font-weight: 100;}
.fw-200{font-weight: 200;}
.fw-300{font-weight: 300;}
.fw-400{font-weight: 400;}
.fw-500{font-weight: 500;}
.fw-600{font-weight: 600;}


#tb-home-render{
    display: block;
    width: 1110px;
    margin: 0 auto;
    padding-top: 61px;
}

.tb-card{
    display: block;
    margin: 5px 0;
    border: 0;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.action-panel-nav{
    height: 40px;
    line-height: 40px;
    width: 100%;
    background-color: #32B56A;
    border-bottom: 1px solid #32B56A;
    position: fixed;
    box-shadow: 0 0 5px rgba(0,0,0,.22);
    top: 0;
    left: 0;
    z-index: 1;
}

.tb-content-panel{
    width: 1110px;
    background: transparent;
    position: relative;
    display: block;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    transition: opacity 2s ease;
}

.action-panel-main{
    min-height: 1500px;
    width: 570px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.action-panel-post{
    min-height: 50px;
    width: 100%;
    padding: 20px 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.waiting{
  position: absolute;
  z-index: 2147;
  background: rgba(255,255,255,0.51);
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  display: block;
}